.container {
  padding: 70px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-container {
  margin-bottom: 40px;
}

.section-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-container p {
  font-size: 1.2rem;
  color: #333;
}

.container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-width: 300px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-role {
  font-size: 1.2rem;
  color: #666;
}
