.footer {
  background-color:  #FFF1DC;
  padding: 20px 0;
  text-align: left;
  color: #000;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #333;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer address {
  font-style: normal;
  line-height: 1.6;
}

.footer-bottom {
  background-color: #f06400;
  padding: 10px 0;
  color: #fff;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #007bff;
}
